body {
    color: black;
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans';

}
header {
    background-color: rgb(102, 100, 100);
    font-size: 50px;
    text-align: center;
    padding: 10px;
    color: white;
}

#searchDiv {
   /* background-color: rgb(231, 229, 229);*/
    padding: 1%;
    text-align: center;

}

#showSearch {
    width: 300px;
}

#searchForm .row.justify-content-center {
  margin-top: 20px;
}


#cardContainer {
    background-color: rgb(231, 229, 229);
    text-align: center;
    height: 1000px;
    display: block;
    padding: 1%;
    border-radius: .25rem;
}

#detailsContainer {
    background-color: rgb(231, 229, 229);
    text-align: center;
    display: none;
    border-radius: .25rem;
}

#contentContainer {
    background-color:white;
    display: block;
}

ul {
    list-style-type: none;
}

#infoList {
    text-align: left;
}

#cardWrapper {
    text-align: center;
}
